# Looking into data
I will be looking into the dataset to plan out how to preproces the data and what components to make

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data/dataset.csv")

In [4]:
df.head()

,Sentence_ID,Word,POS,Tag
0,Sentence: 1,"['Thousands', 'of', 'demonstrators', 'have', '...","['NNS', 'IN', 'NNS', 'VBP', 'VBN', 'IN', 'NNP'...","['O', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', '..."
1,Sentence: 10,"['Iranian', 'officials', 'say', 'they', 'expec...","['JJ', 'NNS', 'VBP', 'PRP', 'VBP', 'TO', 'VB',...","['B-gpe', 'O', 'O', 'O', 'O', 'O', 'O', 'O', '..."
2,Sentence: 100,"['Helicopter', 'gunships', 'Saturday', 'pounde...","['NN', 'NNS', 'NNP', 'VBD', 'JJ', 'NNS', 'IN',...","['O', 'O', 'B-tim', 'O', 'O', 'O', 'O', 'O', '..."
3,Sentence: 1000,"['They', 'left', 'after', 'a', 'tense', 'hour-...","['PRP', 'VBD', 'IN', 'DT', 'NN', 'JJ', 'NN', '...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
4,Sentence: 10000,"['U.N.', 'relief', 'coordinator', 'Jan', 'Egel...","['NNP', 'NN', 'NN', 'NNP', 'NNP', 'VBD', 'NNP'...","['B-geo', 'O', 'O', 'B-per', 'I-per', 'O', 'B-..."

'POS' and 'Sentence_ID' is useless for the model i am imagining, so i will be removing the columns

In [9]:
df = df[["Word", "Tag"]]

In [10]:
df

,Word,Tag
0,"['Thousands', 'of', 'demonstrators', 'have', '...","['O', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', '..."
1,"['Iranian', 'officials', 'say', 'they', 'expec...","['B-gpe', 'O', 'O', 'O', 'O', 'O', 'O', 'O', '..."
2,"['Helicopter', 'gunships', 'Saturday', 'pounde...","['O', 'O', 'B-tim', 'O', 'O', 'O', 'O', 'O', '..."
3,"['They', 'left', 'after', 'a', 'tense', 'hour-...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
4,"['U.N.', 'relief', 'coordinator', 'Jan', 'Egel...","['B-geo', 'O', 'O', 'B-per', 'I-per', 'O', 'B-..."
...,...,...
47954,"['Opposition', 'leader', 'Mir', 'Hossein', 'Mo...","['O', 'O', 'O', 'B-per', 'I-per', 'O', 'O', 'O..."
47955,"['On', 'Thursday', ',', 'Iranian', 'state', 'm...","['O', 'B-tim', 'O', 'B-gpe', 'O', 'O', 'O', 'O..."
47956,"['Following', 'Iran', ""'s"", 'disputed', 'June'...","['O', 'B-geo', 'O', 'O', 'B-tim', 'I-tim', 'O'..."
47957,"['Since', 'then', ',', 'authorities', 'have', ...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ..."
47958,"['The', 'United', 'Nations', 'is', 'praising',...","['O', 'B-org', 'I-org', 'O', 'O', 'O', 'O', 'O..."

Observations: 
- The dataset is has 2 columns word and tag
- Each item in word column is list of words
- Each item in tag column is a list of entity name

Thoughts:
- Can use json module to make each list inside both columns a python list
- Find the top n occuring words and create a vocab based on that